<main class="index">
    <section class="index__product-banner">
        <div class="content-wrapper">
            <div class="index__product-banner-subtitle  font-yellow">
                Note! This is a technical task demo
            </div>
            <h1 class="index__product-banner-title title title--h1">
                Your frontend development books library
            </h1>
            <div class="index__product-banner-subtitle  font-yellow">
                Here is an incredible collection of literature containing only the most useful 
                and relevant features for front-end development. Always be one step ahead of 
                everyone and use your potential to the maximum with a personal library from Aitarget!
            </div>
        </div>
    </section>
    <section class="index__showcase position">
        <div class="index__left-styled-banner">
            <img src="/assets/left-styled-banner.png" alt="" class="index__left-styled-banner-image">
        </div>
        <div class="content-wrapper">
            <app-showcase></app-showcase>
        </div>
    </section>
</main>
